{{ define "main" }}
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  <section class="projects">
    <section class="project">
      {{ with .Site.GetPage "/opensource.md" }}
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <p>{{ .Summary }}</p>
      {{ end }}
    </section>
    {{ range .Paginator.Pages }}
    <section class="project">
      <h3><a href="{{ .RelPermalink | relURL }}">{{ .Title }}</a></h3>
      <p>{{ .Summary }}</p>
    </section>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </section>
{{ end }}